/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COLORS */

:root {
    --light-color: #eee9c8;
    --dark-color: #e41a1a;
    --shadow-opaque: rgba(0,0,0,0.85);
    --shadow-transparent: rgba(0,0,0,0.25);
}

/* GENERAL STYLING */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--light-color);
    background: radial-gradient(circle, rgba(238,233,200,1) 70%, rgba(231,218,200,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    flex-shrink: 0;
    width: 650px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    border-radius: 4rem;
    filter: drop-shadow(8px 8px 0 var(--shadow-opaque));
}

/* HEADER */

.game-title {
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 3.5rem;
    color: var(--light-color);
    padding: 1.2rem 0 0 0;
}

/* CANVAS */

.canvas-wrapper {
    flex-shrink: 0;
    background-color: var(--light-color);
    border-radius: 2rem;
    overflow: hidden;
    border: 8px solid var(--light-color);
    filter: drop-shadow(5px 5px 0 var(--shadow-transparent));
}

#canvas {
    width: 550px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    background-color: white;
    cursor: url(Images/cursor.png), auto;
}

.pixel {
    border-bottom: 1px solid var(--light-color);
    border-right: 1px solid var(--light-color);
}

/* CONTROLS SECTION */

.controls {
    flex: 1;
    display: grid;
    grid-template-columns: 160px 1fr 160px;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.circle {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border: 8px solid var(--light-color);
    border-radius: 50%;
    filter: drop-shadow(5px 5px 0 var(--shadow-transparent));
    transition: 0.3s;
}

.circle:hover,
.circle:focus {
    border-color: white;
    transform: scale(1.01);
}

.color-picker {
    width: 150px;
    height: 150px;
    position: relative;
    left: -10px;
    top: -10px;
    cursor: pointer;
}

.circle-right {
    background-image: url(Images/rainbowBtn.svg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;
}

#rainbow {
    width: 150px;
    height: 150px;
    position: absolute;
    border: none;
    opacity: 0;
    cursor: pointer;
}

.controls-middle {
    display: inline-block;
    text-align: center;
}

.icon {
    padding: 0.5rem;
    border-radius: 10px;
    color: black;
    background-color: var(--light-color);
    transition: 0.3s;
    cursor: pointer;
    margin: 4px;
    font-size: 1.5rem;
    filter: drop-shadow(3px 3px 0 var(--shadow-transparent));
}

.icon:hover,
.icon:focus-visible {
    background-color: white;
    transform: scale(1.05);
}

/* RANGE SLIDER */

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 13.5rem;
    margin-top: 0.75rem;
}

/* Chrome, Safari, Opera, Edge Chromium styles */

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--light-color);
    border-radius: 0.5rem;
    height: 0.5rem;
    filter: drop-shadow(3px 3px 0 var(--shadow-transparent));
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -7px;
    background-color: black;
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid var(--light-color);
    border-radius: 50%;
}

/* Firefox styles */

input[type="range"]::-moz-range-track {
    background-color: var(--light-color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
    background-color: black;
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid var(--light-color);
    border-radius: 50%;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 5px;
}

.footer-copyright {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.footer-logo {
    width: 25px;
    opacity: 0.3;
}

footer * p {
    color: var(--shadow-transparent);
}

