/* CSS RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL STYLING */

html {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.game-title {
    font-family: 'Reenie Beanie', sans-serif;
}

/* CANVAS */

#canvas {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.pixel {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* CONTROLS SECTION */

.controls {

}

.circle {

}

.circle-left {

}

.color-picker {

}

.circle-right {

}

#rainbow {

}

.controls-middle {

}

.icon {
    
}

/* COLOR PICKER */



/* FOOTER */

.footer-logo {
    filter: invert(1);
}

.footer-copyright {
    display: flex;
    align-items: center;
    gap: 10px;
}